body {
    background-color: black;
}

a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin: 10px 0px 0px 10px;
}

.text-head {
    opacity: 0;
}

i {
    margin: 50px 0px 0px 10px;
}

.Notification-all {
    width: 430px;
    height: 932px;
    background-color: white;
    margin: 20px 0px;
}

.notification-half {
    margin: 50px 0px 0px 20px;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 20px 0px 0px;
    
}

.notification-item {
    width: 430px;
    height: 100px;
    display: flex;
    flex-direction: row;

    
}

